@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Karla";
  src: url(../public/fonts/Karla-Italic-VariableFont_wght.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Karla , serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
