@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Ubuntu Mono";
  src: url(../public/fonts/UbuntuMono-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  stroke-linecap:butt;
  background:#120e17 ;
  color: rgba(255, 255, 255, 0.62);
}

.ubuntu-mono-thin {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: italic;
}


.bg-cover{
  background-image: url('/public/Homewrecker.jpg'); 
  height: auto;
  
}
.video-container {
  position: absolute;
  width: 100%;
  height: 80vh; /* Set to 50% of the screen height */
  overflow: hidden;
  opacity: 0.28;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the area properly */
  overflow: hidden;
  z-index: -20;
}

.topVidContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-container {
    background: white;
    width: 80vw;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
}

.modal-header,
.modal-footer {
    padding: 16px;
    background: #f5f5f5;
    flex-shrink: 0;
}

.modal-content {
    padding: 16px;
    overflow-y: auto;
    flex-grow: 1;
}

.close-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}




@layer base {
  :root {
    --radius: 0.5rem;
    --color-primary : #42326b; 
    --color-secondary : #924DBF; 
  }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 15px;
        height: 15px;
        opacity: 0.28;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #261f31;
        opacity: 0.28;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #453951;
        border-radius: 100vh;
        border: 3px solid #453951;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #493f55;
    }
}
