@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Ubuntu Mono";
  src: url(../public/fonts/UbuntuMono-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  stroke-linecap:butt;
  background:#19101b ;
  color: rgba(255, 255, 255, 0.62);
}

.ubuntu-mono-thin {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: italic;
}


.bg-cover{
  background-image: url('/public/Homewrecker.jpg'); 
  height: auto;
  
}

@layer base {
  :root {
    --radius: 0.5rem;
    --color-primary : #0f0529; 
    --color-secondary : #924DBF; 
  }
}
